header{
  display: flex;
  align-items: center;
  gap: 170px;
}
body{
  font-family: 'Inter', sans-serif;
  max-width: 1700px;
  margin-left: 2%;
  margin-right: 2%;
}

.card-lite:hover{
  background-color: #DFCCB7;
  transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }

  .card-menu:hover{
  background-color: #ffffff;
  transform: scale(1.03);
    box-shadow: 0 0px 0px rgba(0,0,0,0.2);
  }

  .Aksiya1{
    background-color: #EA9DA3;
  
  }

    .Aksiya2{
    background-color: #9898A0;
  
  }