header{
  display: flex;
  align-items: center;
  gap: 350px;
  max-width: 1600px;
  margin-left: 2%;

}

header p{
  font-size: 20px;
}

.vkhod{
  background-color: white;
  border: none;
}

.registr{
  background-color:#11AE88;
  border: none;
  color: white;
  height: 42px;
  width: 267px;
  border-radius: 30px;
  font-size: 22px;
}

body{
  margin-left: 2%;
}