@import "tailwindcss";

body {
      color-scheme: dark; /* Барои scrollbar ва тугмаҳои системавӣ */

  margin: 0;
  background-color: #0b1120; /* Ранги асосии Dark Blue */
  color: white;
  font-family: 'Inter', sans-serif;
}